<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>User Deleted Confirmation</title>
</head>
<body>
    <%- include('./partials/nav') %>
    <h1>USER DELETED</h1>

    <!-- delete a user -->
    <form action="/user-deleted-confirmation" method="POST">
        <input type="text" name="emp" id="emp" placeholder="Employee First Name">
        <button>Delete</button>
    </form>
    
</body>
</html>