<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>DELETE USER</title>
</head>
<body>
    <%- include('./partials/nav') %>
    <h1>DELETE A USER</h1>

    <!-- delete a user -->
    <form action="delete-user" method="DELETE">
        <input type="text" name="name" id="name" placeholder="User First Name">
        <button>Delete</button>
    </form>

</body>
</html>