<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>CRUD HOME</title>
</head>
<body>

    <h1>CRUD APPLICATION EXAMPLE</h1>
    <!-- CRUD LINKS -->
    <a href="/add-user"><span>ADD USER</span></a>

    <a href="/update-user"><span>UPDATE USER</span></a>

    <a href="/delete-user"><span>DELETE USER</span></a>
    
    <a href="/read-all-users"><span>SEE ALL USERS</span></a>


</body>
</html>