<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>SEE ALL USERS</title>
</head>
<body>

    <%- include('./partials/nav') %>

    <h1>All Users</h1>

    <!-- DISPLAY ALL USERS -->
    <% if (users.length > 0) { %>
        <% users.forEach(user => { %>
            <a href="/<%= user._id %>">
                <h1> <%= user.name %> </h1> 
            </a>
        <% }) %>
    <% } else {%>
        <p>Sorry, there are no users to show!</p>
    <% } %>
</body>
</html>