<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>New User Confirmation</title>
</head>
<body>

    <%- include('./partials/nav') %>

    <h1>USER INFORMATION UPDATED</h1>
    <!-- log changes? -->

    <!-- update user information -->
    <form action="/user-update-confirmation" method="POST">
        <span>Which do you wish to change?</span>
        <a href="/change-username">Username</a>
        <a href="/change-password">Password</a>
    </form>
</body>
</html>